<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Local Services Directory</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu"
                aria-controls="navMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="collapse navbar-collapse nav-scrollable" id="navMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Inicio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="services">
                <span class="bi bi-list-check" aria-hidden="true"></span> Servicios
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="categories">
                <span class="bi bi-grid-1x2-fill" aria-hidden="true"></span> Categorías
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cities">
                <span class="bi bi-geo-alt-fill" aria-hidden="true"></span> Ciudades
            </NavLink>
        </div>
    </nav>
</div>



